.main h2 {
  font-size: 3.75rem;
  font-weight: 600;
}
.main {
  width: 90%;
  margin: auto;
}

.entry {
  width: 100%;
  background: white;
  border-radius: 19px;
  padding: 14px;
  border: 1px solid #242535;
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.entry:hover .categoryLabel {
  background-color: white;
}
.categoryLabelBox {
  display: flex;
  flex-wrap: wrap;
}
.categoryLabel {
  font-size: 0.875em;
  color: black;
  background-color: #feecfa;
  font-weight: 600;
  border-radius: 16px;
  padding: 4px 16px;
}
.entry img {
  height: 50%;
}
.entry p {
  color: black;
}
.entryGrid {
  padding: 10px;
  background-color: #f4f9ff;
  display: grid;
  border-radius: 12px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  position: relative;
  padding-bottom: 7em;
}
.recentPosts {
  padding: 0.625em;
  padding-right: 0;
  border-radius: 1em;
  background-color: #feecfa;
  padding-bottom: 1.5em;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1em;
}
.recentPosts h3 {
  font-weight: bold;
  color: black;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.entryHero {
  padding: 0.625em;
  border-radius: 1em;
  background-color: #feecfa;
  padding-bottom: 1.5em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.entryHero h3 {
  cursor: pointer;

  font-weight: 800;
  color: black;
  font-size: 1.5em;
}
.entryHero h3:hover {
  color: #333;
}
.entryHero > p {
  font-size: 0.938em;
  color: #4e4b4b;
  font-weight: 600;
  text-align: left;
}
.entryHeroInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.entryHeroInfo p {
  color: #797979;

  font-size: 1em;
  font-weight: bold;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  max-height: 28em;
}
.gridRecentPosts {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1em;
  padding-right: 0.625em;
}
.recentPostEntry {
  min-height: 4.75em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  cursor: pointer;
  padding: 0 0.5em 0 0;
  border-radius: 8px;
}
.recentPostEntry:hover {
  background-color: white;
}

.recentPostText {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  color: black;
  justify-content: space-between;
}
.recentPostEntry img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
.recentPostTitle {
  height: 4.5em;
  overflow: hidden;
  text-align: left;
  font-weight: 700;
}

.recentPostAuthor {
  font-weight: 600;
  color: black;
}
.recentPostEntryInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recentPostDate {
  color: black;
  font-weight: 500;
}
.mainSection {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.entryTitle {
  font-size: 1.2em;
  font-weight: 700;
  height: 86.391px;
}

.entryInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.entryAuthor {
  font-weight: 600;
}
.entryDate {
  font-weight: 400;
}
.entryGridShowMore {
  color: black;
  border: 1px solid black;
  position: absolute;
  border-radius: 6px;
  bottom: 1.5em;
  background-color: white;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.75em 1.35em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.entryGridShowMore:hover {
  background-color: #feecfa;
}
.entry:hover {
  background-color: #feecfa;
}
@media only screen and (max-width: 1340px) {
  .entryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1150px) {
  .top {
    flex-direction: column;
    max-height: none;
  }
  .entryHero {
    width: 100%;
  }
  .recentPosts {
    width: 100%;
  }
  .gridRecentPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-height: 20em;
  }
}
@media only screen and (max-width: 960px) {
  .gridRecentPosts {
    grid-template-columns: repeat(1, 1fr);
  }
  .entryGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
